#!/bin/bash

#
# Sensible default environment variables.
#
# You can change values for your setup by overriding them in `.envrc.private`
# which is ignored by git.
#

# Set mise environment variables so binaries can be properly referenced by VSCode extensions
if has mise
then
    # shellcheck source=/dev/null
    source <(mise env)
fi

# Enable pnpm using corepack
if ! has pnpm \
    || ! file --brief --mime-type "$(which pnpm)" | grep -q "text/plain" \
    || ! grep -q "corepack" "$(which pnpm)"; then
  echo "Enabling pnpm with corepack"
  corepack enable
  corepack install
fi

source_env_if_exists .envrc.private
